In [1]:
import pandas as pd

In [2]:
# Creation of dataframe
data  =  {'Roll Number': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
                'Name': ['Akshay', 'shubh', 'Rakshit', 'yashvee', 'sonika','harshita','dishita','yash','parva','achyut'],
                'Gender': ['M', 'F', 'F', 'F', 'F', 'F', 'F', 'M', 'M', 'F'],
                'Marks1': [10,20,30,40,50,60,70,80,90,100],
                'Marks2': [100,90,80,70,60,50,40,30,20,10],
                'Marks3': [10,20,30,40,50,60,70,80,90,100],
                }
df = pd.DataFrame(data, index=[1,2,3,4,5,6,7,8,9,10])
print(df)

    Roll Number      Name Gender  Marks1  Marks2  Marks3
1             1    Akshay      M      10     100      10
2             2     shubh      F      20      90      20
3             3   Rakshit      F      30      80      30
4             4   yashvee      F      40      70      40
5             5    sonika      F      50      60      50
6             6  harshita      F      60      50      60
7             7   dishita      F      70      40      70
8             8      yash      M      80      30      80
9             9     parva      M      90      20      90
10           10    achyut      F     100      10     100

In [8]:
# creation of new column of total marks.
df['total'] = df.iloc[:,3:6].sum(1)

print(df)

    Roll Number      Name Gender  Marks1  Marks2  Marks3  total
1             1    Akshay      M      10     100      10    120
2             2     shubh      F      20      90      20    130
3             3   Rakshit      F      30      80      30    140
4             4   yashvee      F      40      70      40    150
5             5    sonika      F      50      60      50    160
6             6  harshita      F      60      50      60    170
7             7   dishita      F      70      40      70    180
8             8      yash      M      80      30      80    190
9             9     parva      M      90      20      90    200
10           10    achyut      F     100      10     100    210

In [9]:
# lowest marks in Marks1.
minmarks= df['Marks1'].min()

print("minimum marks in Marks1 is: ")
print(minmarks)

minimum marks in Marks1 is:
10

In [4]:
# highest marks in Marks2.
maxmarks= df['Marks2'].max()

print("maximum marks in Marks2 is: ")
print(maxmarks)

maximum marks in Marks2 is:
100

In [5]:
# Average marks in Marks3.
avgmarks= df['Marks3'].mean()

print("average marks in Marks3 is: ")
print(avgmarks)

average marks in Marks3 is:
55.0

In [6]:
# student name with highest average.
average=df.iloc[:,3:6].mean(1)

highest=average.idxmax()

name= df.iat[highest-1,1]

print (name)

achyut

In [7]:
# count of students who failed in Marks2.
df2=df[df['Marks2']<40]

print("Number of students failing in marks 2 : ", df2.shape[0])
print(df2)

Number of students failing in marks 2 :  3
    Roll Number    Name Gender  Marks1  Marks2  Marks3
8             8    yash      M      80      30      80
9             9   parva      M      90      20      90
10           10  achyut      F     100      10     100